body {
  display: grid;
  grid-template-areas:
    "main main main main"
    "arti arti arti arti"
    "foot foot foot foot";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 705px 205px 100px;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0 12.5%;
}

main {
  grid-area: main;
  padding: 0;
  margin: 0;
  width: auto;
  background-image: url("img/main.png");
  background-repeat: no-repeat;
}

article {
  grid-area: arti;
  padding: 0;
  margin: 0;
  width: auto;
}

article ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
}

#article-image-1 {
  background-image: url("img/article-image1.png");
  background-repeat: no-repeat;
  width: 25%;
  padding: 0;
  margin: 0;
  height: 205px;
}

#article-image-2 {
  background-image: url("img/article-image2.png");
  background-repeat: no-repeat;
  width: 25%;
  padding: 0;
  margin: 0;
  height: 205px;
}

#article-image-3 {
  background-image: url("img/article-image3.png");
  background-repeat: no-repeat;
  width: 25%;
  padding: 0;
  margin: 0;
  height: 205px;
}

#article-image-4 {
  background-image: url("img/article-image4.png");
  background-repeat: no-repeat;
  width: 25%;
  padding: 0;
  margin: 0;
  height: 205px;
}

nav {
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 8.5%;
  left: 24.5%;
  width: 51%;
  height: 3.5%;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list {
  width: 12%;
  height: 100%;
  background:
    linear-gradient(
      rgb(60, 60, 60),
      rgb(160, 160, 160),
      rgb(60, 60, 60)
    );
  padding: 7.5px 0;
  margin: 0;
  border: 1px solid black;
  border-radius: 5%;
}

.nav-anchor {
  color: white;
  text-decoration: none;
}

#apple-icon {
  width: 20px;
  height: 20px;
  padding: -5px;
  margin: -5px;
}

#magnifier-icon {
  width: 70px;
  height: 25px;
  padding: 0;
  margin: -8px;
}

h1 {
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 21%;
  left: 11%;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 56px;
  color: white;
  font-weight: 100;
  text-decoration: none;
}

h2 {
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 31%;
  left: 11%;
  width: 80%;
  height: 3.5%;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: white;
  font-weight: 100;
  text-decoration: none;
}

h3 {
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 41.5%;
  left: 11.5%;
  width: 80%;
  height: 3.5%;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: white;
  font-weight: 100;
  text-decoration: none;
}

#play-image {
  width: 15px;
  height: 15px;
}

footer {
  grid-area: foot;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 10px 0 10px 20px;
  color: gray;
  text-align: left;
  display: flex;
  justify-content: space-evenly;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

#footer-left {
  margin-left: 80px;
}

#footer-right {
  margin-left: -100px;
  margin-top: 5px;
}

h6 {
  display: none;
}
