body {
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

#main-image {
  min-width: 1024px;
  width: 75%;
  min-height: 768px;
  padding: 0;
  margin: 0;
}

nav {
  position: absolute;
  background-color: aqua;
  z-index: 1;
  text-align: center;
  top: 8.5%;
  left: 24.5%;
  width: 51%;
  height: 3.5%;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list {
  width: 12%;
  height: 100%;
  background-color: rgb(200, 200, 200);
  padding: 7.5px 0;
  margin: 0;
  border: 1px solid black;
  border-radius: 5%;
}

footer {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 10px 10px;
  color: gray;
  text-align: left;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

#footer-left {
  float: left;
  width: 26%;
  padding-left: 24%;
}

#footer-right {
  width: 80%;
  padding: 6px 0;
  margin-left: 0;
}
